@keyframes abrir-msg {
  from {
    height: 0px;
  }
  to {
    height: 50px;
  }
}

* {
  box-sizing: border-box;
  user-select: none;
}

button {
  margin: 90px auto 32px;
  border: none;
  background-color: #222;
  width: 100%;
  font-size: 22px;
  border-radius: 8px;
  padding: 24px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 10px 0px #3c3c3c;
}

button:active {
  transform: translateY(4px);
  box-shadow: 0px 5px 0px #3c3c3c;
}

span {
  overflow: hidden;
  height: 0px;
  display: flex;
  margin-bottom: 12px;
  justify-content: center;
  align-items: center;
  margin: 16px auto;
}

span.visivel {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  animation: abrir-msg 0.5s linear forwards;
}

span.visivel.um {
  background-color: #1976d2;
}

span.visivel.zero {
  background-color: #ff5252;
}
main {
  display: flex;
  background: url("https://f.i.uol.com.br/fotografia/2019/04/30/15566595285cc8bd4835f2a_1556659528_3x2_md.jpg")
    no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  position: relative;
}

main::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

h1 {
  font-size: 42px;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
  color: #fff;
  text-align: center;
  box-shadow: 0px 5px 0px #333;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
section {
  margin: auto auto;
  position: relative;
  z-index: 9;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 20px;
  margin: 0 auto;
}

.cell {
  width: 200px;
  height: 200px;
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
  background-color: #eee;
  cursor: pointer;
  line-height: 200px;
  border-radius: 8px;
  box-shadow: 0px 10px 0px #ccc;
  user-select: none;
}

.cell:active:not(.bloqueado) {
  transform: translateY(4px);
  box-shadow: 0px 5px 0px #ccc;
}

.cell.bloqueado {
  cursor: not-allowed;
  opacity: 0.8;
}
